body {
  margin: 0;
  font-family: 'Short Stack', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
